<body>
	<form id='search-box'>
		<input type='text' placeholder='Search...'>
	</form>
	<ul id='card-list'>
		<li><span>Test 1</span></li>
		<li><span>Test 2</span></li>
		<li><span>Test 3</span></li>
		<li><span>Test 4</span></li>
	</ul>

</body>
